
.topbar{
    height: 50px !important;
    background-color: lightblue !important;
    position: relative;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.topbar-name
{
    color: white;
}